{% extends "./layouts/app.twig" %}
{% block title %}
	Recept bewerken
{% endblock %}
{% block content %}
	<form method="post" action="edit">
        <input type="hidden" name="id" value="{{ recipe.id }}">
		<table>
			<tr>
				<td>Name</td>
				<td>
					<input type="text" name="name" value="{{ recipe.name }}" required/>
				</td>
			</tr>
			<tr>
			<td>Cuisine</td>
			<td>
				<select name="cuisine">
					<option value="" selected disabled hidden>{{ cuisine.name }}</option>
					{% for cuisine in cuisines %}
						<option value="{{ cuisine }}">{{ cuisine }}</option>
					{% endfor %}
				</select>
			<tr>
				<td>Type</td>
				<td>
					<select name="type" required>
                    	<option value="" selected disabled hidden>{{ recipe.type }}</option>
						{% for type in types %}
							<option value={{ type }}>{{ type }}</option>
						{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Level</td>
				<td>
					<select name="level" required>
                        <option value="" selected disabled hidden>{{ recipe.level }}</option>
						{% for level in levels %}
							<option value={{ level }}>{{ level }}</option>
						{% endfor %}
				</td>
			</tr>
		</table>
		<input type="submit" value="Edit"/>
	</form>
{% endblock %}
