{% extends "./layouts/app.twig" %}
{% block title %}
	Edit {{ recipe.name }}
{% endblock %}
{% block content %}
<div class="mx-auto max-w-4xl">
	<div class="flex justify-between my-4">
		<h2 class="text-2xl font-bold">Edit this recipe</h2>
	</div>
	<form method="post" action="edit" class="table-fixed w-full">
		<input type="hidden" name="id" value="{{ recipe.id }}">
		<table class="border-collapse w-full">
			<tbody class="bg-white divide-y divide-gray-200">
				<tr>
					<th class="w-20 py-2 px-4 border border-gray-300 border-r-0 text-left text-base font-medium text-gray-500 uppercase tracking-wider">Name</th>
					<td class="py-2 px-4 border border-gray-300 border-l-0 text-base font-medium">
						<input type="text" name="name" value="{{ recipe.name }}" required class="w-full">
					</td>
				</tr>
				<tr>
					<th class="w-20 py-2 px-4 border border-gray-300 border-r-0 text-left text-base font-medium text-gray-500 uppercase tracking-wider">Cuisine</th>
					<td class="py-2 px-4 border border-gray-300 border-l-0 text-base font-medium">
						<select name="cuisine" class="w-1/4">
							<option value="" selected disabled hidden>{{ cuisine.name }}</option>
							{% for cuisine in cuisines %}
								<option value="{{ cuisine }}">{{ cuisine }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<th class="w-20 py-2 px-4 border border-gray-300 border-r-0 text-left text-base font-medium text-gray-500 uppercase tracking-wider">Type</th>
					<td class="py-2 px-4 border border-gray-300 border-l-0 text-base font-medium">
						<select name="type" required class="w-1/4">
                    	<option value="" selected disabled hidden>{{ recipe.type }}</option>
						{% for type in types %}
							<option value={{ type }}>{{ type }}</option>
						{% endfor %}
					</select>
					</td>
				</tr>
				<tr>
					<th class="w-20 py-2 px-4 border border-gray-300 border-r-0 text-left text-base font-medium text-gray-500 uppercase tracking-wider">Difficulty</th>
					<td class="py-2 px-4 border border-gray-300 border-l-0 text-base font-medium">
						<select name="difficulty" required class="w-1/4">
							 <option value="" selected disabled hidden>{{ recipe.difficulty }}</option>
							{% for difficulty in difficulties %}
								<option value={{ difficulty }}>{{ difficulty }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="flex justify-end mt-4">
			<a href="/recipe/show?id={{ recipe.id }}" class="px-3 py-1 text-lg font-medium bg-neutral-100 text-gray-700 rounded hover:bg-bow hover:text-neutral-100 mr-2">Back</a>
			<input type="submit" value="Edit" class="px-3 py-1 text-lg font-medium bg-neutral-100 text-bow rounded hover:bg-bow hover:text-white"/>
		</div>
	</form>
</div>
{% endblock %}
